certifi==2018.4.16
Django==2.1.2
Pillow==5.2.0
pytz==2018.5
wincertstore==0.2
gunicorn==19.6.0
whitenoise==3.2
six==1.11.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
cffi==1.11.5
pipenv==2018.7.1
pycparser==2.18
requests==2.19.1
