{% extends 'index.html' %}

{% block body %}

<div class="wrapper">
    <div class="controls">
        <div class="options">
        <a type="button" class="btn btn-success text-white" id="random">Random Image</a>
        <br/>
        <hr>
        <a type="button" class="btn btn-primary text-white" id="filter">Apply Filters</a>
        <a type="button" class="btn btn-primary text-white" id="enhance">Enhance</a>
        <a type="button" class="btn btn-primary text-white" id="reverseImage">Reverse Image Search</a>
    </div>
    </div>
    <div class="output">
        <div class="col mb-4">
                <div class="card" style="width:400px;margin-top:40px;">
                        <img src="{{img}}" class="card-img-top"/>
                        <div class="card-body"><p><center>Original Image</center></p></div>
                    </div>
        </div>
        <div id="django-returns" class="col mb-4"></div>
    </div>
    <hr>
    <div class="col">
        <div id="filteredOutput"></div>
    </div>
</div>

{% endblock %}