{% extends 'index.html' %}

{% block body %}

<div class="wrapper">
    <div class="controls">
        <a type="button" class="btn btn-primary text-white" id="upload">Upload Image</a>
        <a type="button" class="btn btn-success text-white" id="random">Random Image</a>
        <hr>
        <a type="button" class="btn btn-primary text-white" id="enhance">Enhance</a>
        <a type="button" class="btn btn-primary text-white" id="filter">Apply Filters</a>

    </div>
    <div class="output">
    <div class="col">
        <div class="container image-fluid source" id="sourceImage"><img src={{ img }} alt=""></div>
    </div>

    <div class="col">
        <div id="django-returns">
            {% load static %}
            <img src="media/1.jpg" />
        </div>
    </div>
</div>
</div>

{% endblock %}